.appBarAction {
	position: relative;
	color: $white;
	cursor: pointer;
	@include icon($white);
	.icon {
		height: 22px;
		width: 14px;
		// Nudges
		&-edit {
			position: relative;
			top: -1px;
		}
	}
	&--withBadge {
		&:before {
			content: '';
			position: absolute;
			top: -3;
			right: -4px;
			background-color: $live;
			width: 7px;
			height: 7px;
			border-radius: 50%;
		}
	}
}
