.gamePreviewModal {
  display: flex;
  padding: 22px 15px 0 10px;
  &__loading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
  }
  &__poster {
    @include aspect-ratio(208, 274, '.gamePreviewModal__image');
    margin-right: 10px;
    flex: 0 1 230px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__meta {
    flex: 1;
  }
  &__header {
    margin-bottom: 10px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  &__view {
    margin-top: 20px;

    button{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }   
    button:first-child {
      margin-bottom: 8px;
    }
    svg {
      width: 22px;
      margin-right: 5px;
      fill: $dark-yellow;
    }
  }
  &__details {
    font-size: 14px;
    &-item {
      padding: 16px;
      border-bottom: 1px solid $med-cyan;
      display: flex;
      align-items: center;
      @include icon($yellow);
      > .icon {
        width: 18px;
        height: 18px;
        margin-right: 16px;
      }
    }
  }
}
