.screenGroupHome {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.screenGroupHome__content {
	flex: 1;
	display: flex;
}

.screenGroupHome__sidebar {
	width: $sidebar-width;
	position: relative;
	z-index: 2;
}

.screenGroupHome__sectionTabs {
	margin-top: 16px;
}

.screenGroupHome__main {
	flex: 1;
	position: relative;
	z-index: 1;
	flex-direction: column;
	display: flex;
}

