.screens {
	flex-direction: column;
	flex: 1;
	display: flex;
}
.screens__transitionGroup {
	flex: 1;
	position: relative;
}
.screens__screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	display: flex;
	z-index: 1;
}
