.screenGroupMessages {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.screenGroupMessages__content {
	flex: 1;
	display: flex;
}

.screenGroupMessages__sidebar {
	width: $sidebar-width;
}

.screenGroupMessages__search {
	padding: 9px;
	border-bottom: 1px solid $med-cyan;
	input {
		width: 100%;
    padding: 16px 10px;
		border-radius: 3px;
	}
	&-prompt {
		position: relative;
		margin: 5px 9px 0px;
		padding: 16px 10px;
		border-radius: 3px;
		color: white;
		background: $off-black;
		&::before {
			content: '';
			position: absolute;
			left: 45px;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $off-black transparent;
			transform: translateY(-100%)
		}
	}
}

.screenGroupMessages__latestConversations {
	flex: 1;
}

.screenGroupMessages__main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.screenGroupMessages__loading {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
