.sectionTab {
	$block: &;
	$text: $med-cyan-text;
	color: $text;
	@include icon($text);
	height: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 9px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: $letter-spacing;
	&__title{
		margin-top: 3px;
	}
	&--active {
		$active-text: $yellow-tab-text; 
		background-color: $yellow;
		color: $active-text;
		@include icon($active-text)
	}
	.icon {
		margin-bottom: 2px;
		svg {
			height: 21px
		}
	}
}
