.trophiesModal {
  &__achievements {
    padding: 15px 13px 0 15px;
  }
  &__description {
    font-size: 12px;
    opacity: 0.5;
    margin: 11px 0;
  }
  &__progress {
    display: flex;
    align-items: center;
    border-top: 1px solid $med-cyan;
    width: 100%;
    padding: 14px 0 8px;
    .icon {
      fill: $yellow;
      width: 16px;
      height: 14px;
    }
  }
  &__markers-container {
    display: flex;
    margin: 0 12px;
  }
  &__marker {
    $dimension: 12px;
    width: $dimension;
    height: $dimension;
    border: 2px solid $white;
    border-radius: 2px;
    flex: 0 0 auto;
    margin: 0 2px;
    &--achieved {
      border-color: $bright;
      background-color: $bright;
    }
  }
  &__difficulty {
    font-size: 12px;
    opacity: 0.6;
  }
  &__locked {
    .activities__meta {
      opacity: 0.35;
    }
    .stream__gameTag-thumbnail {
      background-color: black;
      padding: 13px;
      .icon {
        fill: white;
      }
    }
  }
}