.userList {
  &Input {
    &__user--active {
        display: inline-block;
        padding: 5px 12px;
        background-color: $med-cyan;
        margin: 2px;
        color: $white;
        border-radius: 18px;
        font-size: 14px;
    }
  }
  &__user {
    &--selected {
      background-color: lighten($dark-cyan, 10%);
    }
  }
}