.btn {
  border-radius: 999px;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  &-yellow {
    background-color: $yellow;
    color: $dark-yellow;
  }
  &-outline {
    color: $yellow;
    border: 2px solid $yellow;
    background: transparent;
    padding: 13px;
  }
  &-dim {
    background-color: $med-cyan;
    color: $med-cyan-text;
  }
  &-link {
    color: $yellow;
    background: transparent;
  }
  &-sm {
    font-size: 10px;
    padding: 8px 32px;
    min-width: 84px;
  }
  &-wide {
    padding: 15px 35px;
  }
  &-bold {
    font-weight: bold;
  }
  &:disabled {
    opacity: 0.5;
  }
}
